USE [G3R];

Select A.DSCAREA, Min(S.TEMPOSESSAO) [Tempo Min], Max(S.TEMPOSESSAO) [Tempo Max], Avg(S.TEMPOSESSAO) [Media]
From OSESSAO S 
join OAREA A on S.IDAREA=A.IDAREA
Join OATENDIMENTO T on S.IDATENDIMENTO=T.IDATENDIMENTO
Where S.IDTPSERVICO<>1
And Not T.HHFIM Is Null
And S.DISPAROS>0
And S.TEMPOSESSAO>0
--And Datepart(Month, T.DTATEND)>=10
--And Datepart(Hour, T.DTATEND)<=13
Group By  A.DSCAREA
Order By 1,2