<?xml version="1.0" encoding="UTF-8"?>
<Calendar CompactMode="1" Version="1">
	<Options WorkDayStartTime="08:00:00" WorkDayEndTime="17:00:00" DayView_Scale2TimeZone="ELAAAAAAFEAAOCAAACAADFAAPGAAFHAAEHAAIGAAACAABEAANGAAFGAACHAAJGAADGAABGAAACAADFAAEHAABGAAOGAAEGAABGAACHAAEGAAACAAEFAAJGAANGAAFGAAAAAAAAAAAAAACAAAGAAADAAAHBAALDAALDAAHODAAAAAAAAAFEAAOCAAACAADFAAPGAAFHAAEHAAIGAAACAABEAANGAAFGAACHAAJGAADGAABGAAACAAEEAABGAAJHAAMGAAJGAAHGAAIGAAEHAAACAAEFAAJGAANGAAFGAAAAAAAAAAAAAAKAAAGAAADAAAHBAALDAALDAAHODAEMPPPPPP"/>
</Calendar>
